.navbar {
    width: 600px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    gap: 60px;
}

@media only screen and (max-width: 600px) {
  .navbar {
      padding: 0 1rem;
  }
}

.navbar__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;

}
.navbar__item {
    margin-right: 20px;
}

.navbar__item:last-child {
    margin-right: 0px;
}

.logo {
    font-weight: bold;
}